<html>
  <head>
          <title>Welcome to your Pokemon Storage!</title>
  </head>

  <body>
    <form action="/" method="GET">
      <select name="typeName">
        <option default value="">(None)</option>
        {% for type in types %}
          <option value="{{type.Name}}">{{type.Name}}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Update Table" />
    </form>
    <table border="1">
      <thead>
        <tr>
          <td>
            Nickname
          </td>
          <td>
            Name
          </td>
          <td>
            Level
          </td>
          <td>
            Type
          </td>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            <td>
              {{ item.nickname }}
            </td>
            <td>
              {{ item.pokemonName }}
            </td>
            <td>
              {{ item.level }}
            </td>
            <td>
              {{ item.typeName }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>Update Pokemon Name</h2>
    <p>If you enter an invalid Pokemon ID, no change will happen</p>
      <form method="POST" action="updateName"> <!--refresh page when submitted-->
                <input type="hidden" id="updateQueryRequest" name="updateQueryRequest">
                Pokemon ID: <input type="text" name="insID"> <br /><br />
                New Nickname: <input type="text" name="insName"> <br /><br />

                <input type="submit" value="Update" name="Update Name"></p>
            </form>
  </body>
</html>